:root {
  --body-font: Neue Montreal, sans-serif;
  --line-height: 1.18;
  --body-size: 16px;
  /* --sidebar-size: 13px; */
  --line-px: calc(var(--line-height) * var(--body-size));
  --line-px-minus: calc(var(--line-px) - 2px);
  --offset: calc(-1 * var(--line-px) + 4px);
  /* --line-px-small: calc(var(--line-height) * var(--sidebar-size)); */
  --body-weight: 400;
  --sec-width: min(500px, 80vw);
  --header-width: min(350px, 80vw);
  --padding-med: 30px;
  --padding-med-l: 45px;
  --padding-lg: min(60px, 10vw);
  --padding-top: 9vh;
  --padding-links: 4px;
}
[data-theme="dark"] {
  --background: #0d0d0d;
  --background-none: #0d0d0d00;
  --body-color: #eee;
  --body-color-light: #c2c2c2;
  --text-border: #aaa;
  --accent-color: #c2c2c2;
}
[data-theme="light"] {
  --background: #eee;
  --background-none: #eeeeee00;
  --body-color: #0d0d0d;
  --body-color-light: #555;
  --accent-color: #0d5d37;
}

html,
body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--body-font);
  font-weight: var(--body-weight);
  font-size: var(--body-size);
  line-height: var(--line-height);
  color: var(--body-color);
  font-variant-numeric: oldstyle-nums;
  overflow-x: hidden;
}
b {
  font-weight: 530;
}
button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--body-color);
}
button:hover i {
  text-shadow: 0 0 1px #ffffff;
}
body {
  background-color: var(--background);
  position: relative;
}
.text-div {
  position: absolute;
  width: calc(var(--sec-width) + var(--padding-lg) + 100px);
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 2;
}
.header-wrapper {
  width: var(--header-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--padding-top) 0 0 var(--padding-lg);
}

section {
  max-width: var(--sec-width);
  padding: var(--padding-lg) 0 var(--padding-lg) var(--padding-lg);
  /* padding: var(--padding-top) 0 0 var(--padding-lg); */
}

p,
h3 {
  margin-top: 0;
  margin-bottom: var(--line-px);
}
a {
  color: var(--body-color);
  line-height: var(--line-height);
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  text-decoration-skip-ink: none;
  text-decoration-color: var(--text-border);
  transition: 0.1s;
}
a:hover {
  color: var(--background);
  text-decoration-color: var(--body-color);
  text-decoration-thickness: var(--line-px);
  text-underline-offset: var(--offset);
}

ul {
  padding: 0;
  margin: 0 0 var(--line-px) var(--padding-med);
}
li {
  padding: var(--padding-links) 0;
}
.light-text {
  color: var(--body-color-light);
}
.light-links ul a {
  color: var(--accent-color);
  text-decoration: none;
}
.light-links ul a:hover {
  [data-theme="light"] & {
    color: var(--body-color-light);
  }
  [data-theme="dark"] & {
    color: var(--body-color);
  }
}
.padded-links {
  padding: 12px 0;
}
.plain-list {
  list-style: none;
}
.spaced-list {
  margin: 0;
}
.spaced-list li {
  padding-bottom: var(--line-px);
}
.smaller-text {
  font-size: 15px;
}

.nowrap {
  white-space: nowrap;
}
/* nav bar links stuff */
nav {
  padding: 0 0 0 var(--padding-links);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Style the nav list */
.nav-tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 65px;
  /* text-align: right; */
}

/* Style each list item */
.nav-tabs > li {
  padding: 0;
}

/* Ensure nav links are styled correctly */
.nav-tabs a {
  display: block; /* Make links block-level to fill their container */
  margin-bottom: 0;
  padding: 0;
  color: var(--body-color-light);
  text-decoration: none !important;
}

/* Style for active nav item */
.nav-tabs > li.active > a {
  color: var(--accent-color); /* Active link color */
  font-weight: 530;
}

/* Hover styles for nav links */
.nav-tabs a:hover {
  color: var(--body-color);
  text-decoration: underline;
  text-underline-offset: -4px;
}

#home-tab {
  padding-left: 0;
}
.tab-content {
  > .tab-pane {
    display: none;

    &.active {
      display: block;
    }
  }

  > .active {
    display: block;
  }
}

.booklist {
  list-style-type: none;
  margin-left: 0;
  padding: 15px 0 var(--padding-med) 0;
}
.library-nav {
  margin-bottom: var(--line-px);
  padding-bottom: calc(var(--line-px) * 0.5);
  flex-direction: row;
}
.library-nav a {
  padding-right: 10px;
}
.up {
  position: relative;
  top: -1.5px;
  color: var(--accent-color);
}
