:root {
  --background: #0d0d0d;
  /* --telescope-highlight: #baead0;
  --telescope-highlight-hover: #8be4b3; */
  /* --telescope-text-color: #ffffff; */
  --telescope-text-color: #eee;
  --telescope-border: #888;
}

#telescope {
  color: var(--telescope-text-color);
}

#telescope#telescope blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left: 1px solid var(--telescope-text-color);
  display: block;
}

#telescope#telescope hr {
  border: 0.5px solid var(--telescope-text-color);
  margin: 3px 0;
  display: block;
}

#telescope .details {
  display: inline;
  /* background-color: var(--telescope-highlight); */
  padding: 0 3px;
  margin: -1px;
  box-shadow: 0px 1px 0px 1px var(--background) inset,
    0px 1px 0px 2px var(--telescope-border) inset;
  /* transition: outline-offset 0.1s ease, padding 0.5s ease, margin 0.5s ease; */
  cursor: pointer;
}

#telescope .details.open {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: initial;
}

#telescope .details.open > .summary,
#telescope .details.close > .expanded {
  display: none;
}

#telescope .details.close:hover {
  box-shadow: 0px 1px 0px 0px var(--background) inset,
    0px 1px 0px 1px var(--telescope-border) inset;
  border-bottom: 1px solid var(--telescope-border);
}

#telescope .details *,
#telescope p * {
  list-style: none;
  display: inline;
}
