[data-theme="light"] {
  --orange: rgb(196, 160, 116);
  --blue: rgb(108, 134, 183);
}
[data-theme="dark"] {
  --orange: rgb(113, 182, 175);
  --blue: rgb(108, 134, 183);
}

.lined-list .date {
  width: 60px;
  left: calc(-60px - var(--padding-quotes));
}

.color-n-cl {
  color: var(--orange) !important;
}
.color-cl {
  color: var(--blue) !important;
}

.lined-list {
  margin-left: 35px;
}

.lined-list .fave::before {
  /* content: "♥"; */
  content: "★";
  font-size: 12px;
  position: absolute;
  left: -5px;
  top: calc(50% - 7px);
  width: 11px;
  height: 0;
  display: block;
  text-align: center;
  background: none;
  z-index: 1;
  text-shadow:
    0px 1px 0.5px var(--background),
    0px -2px 0.8px var(--background);
}

.lined-list .fave.cl::before {
  color: var(--blue);
}
.lined-list .fave.n-cl::before {
  color: var(--orange);
}
