:root {
  --padding-quotes: 1rem;
  --accent-both-bw: #0d5d37;
}

.video-wrapper {
  /* fixed position to the right of the text */
  width: 300px;
  aspect-ratio: 16 / 9;
  margin: auto;
  margin-bottom: var(--line-px);
  position: fixed;
  top: calc(
    min(50%, var(--padding-top) + var(--padding-lg) + 10 * var(--line-px))
  );
  left: calc(var(--sec-width) + 1.5 * var(--padding-lg));
}
#video-controls {
  display: none;
}
#playing-icon {
  display: none;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.library-nav {
  width: 65px;
  margin-bottom: 0;
}

.library-nav a {
  display: block;
  margin-bottom: 0;
  color: var(--body-color-light);
  text-decoration: none !important;
}
.library-nav a:hover {
  color: var(--body-color);
}

.tab-pane {
  padding-bottom: var(--padding-lg);
}

/* classical, pop etc tab name styling */
.nav-tabs {
  display: flex;
  overflow: hidden;
  width: fit-content;
  margin: var(--padding-med) auto var(--line-px) auto;
}
.nav-tabs li {
  flex: 1 1 auto;
  cursor: pointer;
}
.nav-tabs li a {
  font-variant: small-caps;
  padding: 0 var(--padding-quotes);
  padding-bottom: 2px; /* visual effect */
  text-align: center;
  height: 100%; /* fixes weird bug if li is larger than a */
}

.nav-tabs li.active a {
  background-color: var(--accent-both-bw);
  color: #eee; /* light theme body color */
  font-weight: normal;
  padding: 0 calc(2 * var(--padding-quotes));
}

.nav-tabs a:hover {
  background-color: var(--background-pale);
}

/* LIST STUFF */
.lined-list {
  margin: 0 0 0 calc(var(--padding-med) + 5px);
  padding: 0 0 0 var(--padding-quotes);
}
.lined-list li.playing {
  background: var(--background-pale);
}
.lined-list li:last-child {
  border-bottom: 2px solid transparent;
  /* visual spacing effect, so bottom doesn't seem smaller than top */
}

.lined-list li:hover {
  background: var(--background-pale);
  /* color: var(--background); */
  cursor: pointer;
}

.lined-list .date {
  color: var(--accent-color);
}

.lined-list li a {
  z-index: 100;
}

.song p {
  margin-bottom: calc(0.5 * var(--line-px));
}
.song {
  /* border-bottom: 1px solid #ccc; */
  margin-bottom: calc(0.5 * var(--line-px));
  position: relative;
}
/* border bottom that covers half width of element */
.song .lined-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * var(--padding-med) - 5px);
  width: calc(var(--padding-med) + 5px + var(--padding-quotes));
  height: calc(100% - 2px);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* side video stops working */
@media (max-width: 1000px) {
  .video-wrapper {
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
    width: var(--padding-med);
    aspect-ratio: 1/1;
    margin: var(--padding-quotes);
    border-radius: 100%;
    z-index: 2;
    cursor: pointer;
  }
  .video-wrapper iframe {
    border-radius: 100%;
  }
  #video-controls {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    color: var(--background);
    background: var(--body-color);
    text-align: center;
    z-index: 3;
    font-size: 16px;
    cursor: pointer;
  }
  @media (hover: hover) {
    #video-controls:hover {
      background: var(--accent-both-bw);
    }
  }
  #video-controls.on {
    background: var(--accent-both-bw);
  }
  #video-controls .video-icon {
    line-height: calc(var(--padding-med) - 1px);
  }
  #video-controls .video-icon.off {
    display: none;
  }
  #video-controls .video-icon.play {
    padding-left: 1px;
  }

  #playing-icon {
    width: calc(var(--padding-med) + 2 * var(--padding-quotes));
    height: var(--padding-med);
    display: flex;
    justify-content: space-between; /* Evenly space the bars */
    align-items: flex-end; /* Align bars to the bottom */
    box-sizing: border-box; /* Ensures padding/border are included in the size */
    position: fixed;
    transform: rotate(90deg);
    transform-origin: bottom right;
    bottom: 0;
    right: calc(0.5 * var(--padding-med) + 2px);
  }

  /* Individual bars */
  #playing-icon .bar {
    width: 5px; /* Width of each bar */
    height: 100%; /* Take full height of the container */
    background-color: var(--body-color); /* Color of the bars */
    display: inline-block;
    /* animation defined here only run when the 'off' class is NOT present */
    animation: bounce 1.2s ease-in-out infinite;
    animation-play-state: paused;
    transform: scaleY(0.2);
  }
  #playing-icon:not(.off) .bar {
    animation-play-state: running;
    background-color: var(--accent-both-bw);
  }
  #playing-icon .bar:nth-child(2) {
    animation-delay: -0.4s;
  }
  #playing-icon .bar:nth-child(3) {
    animation-delay: -0.2s;
  }
  #playing-icon .bar:nth-child(4) {
    animation-delay: -0.4s;
  }
  /* #playing-icon .bar:nth-child(5) {
    animation-delay: 0s;
  } */
  #playing-icon .bar:nth-child(6) {
    animation-delay: -0.4s;
  }
  #playing-icon .bar:nth-child(7) {
    animation-delay: -0.2s;
  }
  #playing-icon .bar:nth-child(8) {
    animation-delay: -0.4s;
  }
  @keyframes bounce {
    0%,
    40%,
    100% {
      transform: scaleY(0.2); /* Shortest height */
    }
    20% {
      transform: scaleY(1); /* Tallest height */
    }
  }
}

@media (min-width: 1000px) {
  :root {
    --header-width: 300px;
  }
  .video-wrapper {
    left: var(--padding-lg);
  }
}
/* smaller screens */
@media (max-width: 1000px) {
  .nav-tabs {
    display: grid;
    grid-template-columns: auto auto;
    /* flex-wrap: wrap;
    justify-content: center; */
    width: 80%;
  }
  .nav-tabs li.active a {
    padding: 0 var(--padding-quotes);
  }
}
